body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
